body { background-color: #f5f5f5; color: #333; font-family: "Verdana";}

body, p, ol, ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  word-wrap: break-word;

}

.mainTable {
    width: 99%;
}

.mainTableHolder {
    border: 1px solid silver;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: blue; }
a:visited { color: green; }
a:hover { color: #fff; background-color:#000; }

tr.tableHeader th {
  background-color: #adcef0;
  border-bottom: 2px solid #4682b4;
  border-radius: 2px;
}

textarea {
    width: 95%;
    margin-left: 10px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#banner{
    background-color: #87cefa;
    border-bottom: 1px solid gray;
}

#main{
    padding-top: 75px;
}

.page_title a { color: white; text-decoration: none; }
.page_title a:visited { color: white; text-decoration: none }
.page_title a:hover { color: #fff; background-color:#87cefa; text-decoration: none }

.page_title{
    color: white;
    text-align: center;
    background-color: #87cefa;
    display: block;
    padding-top: 15px;
}

.recommendation {
    font-size: 15px;
    width: 99%;
    border: solid black 1px;
    background-color: #d1d3f0;
    border-radius: 5px;
    margin-bottom: 3px;
    padding-left: 0.5%;
    margin-right: 1%;
}


.borderedBox {
    border: 1px solid silver; padding-left: 20px; padding-right: 10px;
}

.replyControls td {
    border-bottom: solid silver 1px;
}